{% extends 'partials/base.html' %}

{% block title %} Order History {% endblock %}

{% block content %}
<div class="card-body">
    {% for message in messages %}
    {% if message %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="container">

                            {% for order in orders %}
                            <div class="card-body">
                                <table class="table table-striped bg-white">
                                    <thead class="table-success">
                                        <tr>
                                            <th scope="col"><small>Order ID</small></th>
                                            <th scope="col"><small>Date Created</small></th>
                                            <th scope="col"><small>Taken Date</small></th>
                                            <th scope="col">Status</th>

                                        </tr>
                                        <tr>
                                            <th scope="col"><small>{{ order.id }}</small></th>
                                            <th scope="col"><small>{{ order.date_created}}</small></th>
                                            <th scope="col"><small>{{ order.delivery_date }}</small></th>
                                            <th scope="col"><span class="badge {{ order.done|yesno:'bg-success text-white, bg-danger text-white' }}">
                                                {{ order.done|yesno:"Completed,Pending" }}
                                            </span></th>

                                        </tr>
                                        <tr>
                                            
                                            <th scope="col">Product</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in order.orderitem_set.all %}
                                            <tr>
                                                <td>{{ item.product.name }}</td>
                                                <td>{{ item.product.category }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{% url 'e_commerce:generate_order_pdf' order.id %}" class="print-btn">admin</a>
                                <a href="{% url 'e_commerce:billing' order.id %}" class="print-btn">customer</a>
                                <a href="{% url 'sales:order-details' order.id %}" class="print-btn">i_manager</a>

                            </div>

                    {% endfor %}


</div>
{% endblock %}